.Delete{
  background-color: red !important;
}

.Attendance{
  background-color: grey !important;
}

.Edit{
  background-color: blue !important;
}

.Accept{
  background-color: blue !important;
}

.Reject{
  background-color: red !important;
}

.Cancel{
  background-color: grey !important;
}

