<div class="p-8">
  <h1 class="text-2xl font-bold mb-2 ">Apply Your Leave</h1>
  <form [formGroup]="leaveForm" class="bg-grey-500!" (ngSubmit)="onSubmit()">
    <mat-form-field class="w-full">
      <mat-label>Leave Type</mat-label>
      <mat-select formControlName="type">
        <mat-option [value]="1">Sick Leave</mat-option>
        <mat-option [value]="2">Casual Leave</mat-option>
        <mat-option [value]="3">Earned Leave</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Enter Reason</mat-label>
      <input matInput formControlName="reason" />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Leave Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="leaveDate" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="flex justify-center mt-4">
      <button class="bg-blue-400! text-white! " matButton="filled" type="submit">Apply</button>
    </div>
  </form>
</div>
